.conTitle{
  padding: 20vh 0;

  span{
    display: block;
    font-size: 12vw;
    line-height: 8vw;
    font-family: 'Saol Display Regular';
    padding-top: 1.6vw;
    text-transform: uppercase;
    color:#000;
  }
}