/* font */
@font-face {
  font-family: "Saol Display Regular";
  src: url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.eot");
  /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */
      url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.woff2") format("woff2"),
      /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.woff") format("woff"),
      /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.ttf") format("truetype"),
      /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("http://db.onlinewebfonts.com/t/4c4c08af466e9ad071b6d69cf44093df.svg#Saol Display Regular") format("svg");
      /* iOS 4.1- */
}

@font-face {
  font-family: 'Chosunilbo_myungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* reset */
html {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex: 0 1 auto
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0
}

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.53;
  color: #000;
  background-color: #fff;
  margin: 0;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer
}

input,
textarea,
select,
button,
a {
  font-family: inherit;
  font-size: 100%
}

input,
textarea,
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-size: 16px;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
  font-weight: normal;
}

[tabindex="-1"]:focus {
  outline: 0
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  vertical-align: top;
}

p {
  margin: 0;
}

address, em {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, fieldset {
  border: 0 none;
}

.mt25vh {
  margin-top: 25vh;
}

/* ir */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* form */
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #333;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


/* skip */
#skip a {
  position: absolute;
  left: 0px;
  top: -100px;
  z-index: 1000;
  color: #000;
  border: 1px solid #fff;
  background-color: white;
  font-size: 18px;
  padding: 12px 24px;
}

#skip a:focus,
#skip a:active {
  top: 0px;
}


#mainCont {height: 100vh; background-color: #000; color: #fff;}
#aboutCont {}
#referCont {}
#youtubeCont {}
#contactCont {height: 100vh; background-color: #000; color: #fff;}
#footer {}
#signUpCont {height: 100vh; background-color: #000; color: #fff;}
#loginCont {height: 100vh; background-color: #000; color: #fff;}
#boardCont {background-color: #F0EEEB;}
#contactFooter {
  overflow: hidden;
  position: fixed; 
  left: 0; bottom: 0;
  width: 100%;
  height: 82px;
  border-top: 1px solid #2E2E30; 
  color: #fff; 
  background: #000;
}
#portCont {
  background: #000;
}

/* container */
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.container.h100vh {
  height: 100vh;
}

/* Color */
body.gray {
  background: #F0EEEB;
}

body.black {
  background: #000;
}

/* contTitle */
.contTitle {
  padding: 20vh 0;
}

.contTitle span {
  display: block;
  font-size: 12vw;
  line-height: 8vw;
  font-family: "Saol Display Regular";
  font-weight: normal;
  padding-top: 1.6vw;
  text-transform: uppercase;
  color: #000;
}
body.black .contTitle span, 
#portCont .contTitle span {
  color: #fff;
}